
<div class="container">
  <h2>Image</h2>
                    
  <img src="<%= $image_base_path %>/images/welcome.jpg" class="img-responsive"width="304" height="236"> 
  <img src="../../assets/images/welcome.jpg">
</div>
	